.container-fluid .icon {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.6s ease;
    transform: rotate(180deg);
    cursor: pointer
}
.container-fluid .icon:hover {
    background-color: #b71c1c;
    color: #fff
}
.container-fluid .icon:nth-last-of-type(3) {
    transition-delay: 0.2s
}
.container-fluid .icon:nth-last-of-type(2) {
    transition-delay: 0.15s
}
.container-fluid .icon:nth-last-of-type(1) {
    transition-delay: 0.1s
}
.container-fluid :hover .icon {
    transform: translateY(-60px)
}
.card button{
    margin-top:10px;
}
.evaluate{
    display:block;
}